.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: url("../public/feverlogo2.jpg");
  color: white;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-content {
  z-index: 1;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.hero-title {
  font-size: clamp(2rem, 7vw, 6.5rem);
}

.tagline {
  font-size: clamp(1rem, 2.5w, 2rem);
  opacity: 0.8;
  margin-bottom: 3rem;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.8);
}


.card {
  border: 1px solid #444;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}


.card img {
  border-radius: 6px;
  margin-bottom: 0.8rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}


.card h3 {
  margin: 0.6rem 0 0.4rem;
  font-weight: 600;
}

.card em {
  font-style: normal;
  color: #ccc;
}

.card small {
  color: #aaa;
  font-size: 0.85rem;
  margin-top: 0.4rem;
  display: block;
}

.genre-icon{
  font-size: 1.8rem;
}