/* HEADER STYLES */
header {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary);
  background: var(--mute);
  position: sticky;
  z-index: 68;
  top: 0;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  z-index: 70;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--secondary);
  background: var(--mute);
}

header h1 a {
  color: var(--accent);
  font-weight: bold;
  transition: color 0.3s ease;
}
/* dang so pretty */
header h1 a:hover {
  color: var(--text);
}

/* NAV STYLES */
header nav,
footer nav {
  display: flex;
  gap: 1.5rem;
}

header nav a,
footer nav a {
  font-size: 1rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 2px;
  position: relative;
}

header nav a::after,
footer nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background: var(--accent);
  transition: width 0.2s ease;
}

header nav a:hover,
footer nav a:hover {
  color: var(--accent);
}
/* nice shit here, first approach was using border bottom but it was messing with the text */

header nav a:hover::after,
footer nav a:hover::after {
  width: 100%;
}

/* IDK */
.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 1rem;
  border: none;
  background: var(--accent);
  color: var(--bg);
  border-radius: 3px;
  transition: background 0.3s ease, color 0.3 ease;
}

.btn:hover {
  filter: brightness(1.2);
}

@media (max-width: 480px) {
  header h1 {
    display: none;
  }

  header {
    justify-content: center;
  }
}
