/* HEADER STYLES */
header {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary);
  background: rgb(40, 37, 37);
  position: sticky;
  z-index: 68;
  top: 0;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  z-index: 70;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--secondary);
  background: var(--mute);
}

header h1 a {
  color: var(--accent);
  font-weight: bold;
  transition: color 0.3s ease;
}
/* dang so pretty */
header h1 a:hover {
  color: var(--text);
}

/* NAV STYLES */
header nav,
footer nav {
  display: flex;
  gap: 1.5rem;
}

header nav a,
footer nav a {
  font-size: 1rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 2px;
  position: relative;
}

header nav a::after,
footer nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background: var(--accent);
  transition: width 0.2s ease;
}

header nav a:hover,
footer nav a:hover {
  color: var(--accent);
}
/* nice shit here, first approach was using border bottom but it was messing with the text */

header nav a:hover::after,
footer nav a:hover::after {
  width: 100%;
}

/* IDK */
.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 1rem;
  border: none;
  background: var(--accent);
  color: white;
  border-radius: 3px;
  transition: background 0.3s ease, color 0.3 ease;
}

.btn:hover {
  filter: brightness(1.2);
}

.btn-muted {
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 1rem;
  border: none;
  background: #e4e4e4;
  color: #404040;
  border-radius: 3px;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn-muted:hover {
  background: #d3d3d3;
}

.btn-dark {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  background: black;
  color: #fff;
  border-radius: 4px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-dark:hover {
  background: #1a1a1a;
  transform: translateY(-2px);
}

/* CARDS */

.card-container {
  display: grid;
  gap: 1rem;
  /* 1 column on small, 3 on larger screens */
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-items: start;
  margin-top: 1rem;
  padding: 0;
}

.card {
  background: rgb(20, 19, 19);
  border-radius: 5px;
  padding: 1.2rem;
  border: 1px solid white;
  min-height: 150px;
  text-align: center;
}

.card-icon {
  display: inline-block;
}

.card-title {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.section-title {
  text-align: center;
}

.new-releases,
.explore-genres {
  padding: 0 3rem;
}

.product-card {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: transform 0.3s ease;
  background: #1a1a1a;
}

.product-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.product-card img {
  width: 100%;
}

.product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}

.product-info h3 {
  margin-bottom: 0.25rem;
}
@media (max-width: 480px) {
  header h1 {
    display: none;
  }

  header {
    justify-content: center;
  }
}